@font-face{
    font-family: "Inter";
    src: url('assets/Font/static/Inter-SemiBold.ttf') format('truetype');
}


.BG{
  position:absolute;
  z-index:1;
  width:100%;
  height:100%;
  content:url(assets/images/background.jpg)
}
.sign-in-rectangle{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:0px;
  width:472px;
  min-width:472px;
  height:477px;
  margin-top:0px;
  margin-bottom:42px;
  min-height:477px;
  filter:drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
}
.gradient{
  position:absolute;
  z-index:13;
  left:50%;
  top:50%;
  pointer-events:none;
  margin-left:-236px;
  width:472px;
  min-width:472px;
  height:477px;
  margin-top:-238.5px;
  margin-bottom:0px;
  min-height:477px;
  background:linear-gradient(-135.13deg, rgba(46, 63, 153, 0.31) 0.000004635743611722791%, rgba(255, 31, 31, 0.31) 99.16544529405931%);
  filter:blur(10px);
  border-radius:25px;
}
.platform{
  position:absolute;
  left:50%;
  top:50%;
  z-index:14;
  pointer-events:none;
  margin-left:-229.415px;
  width:458.83px;
  height:464.07px;
  margin-top:-232.035px;
  background-color:rgba(250, 251, 252, 1);
  border-radius:10px;
}
.Sign-In{
  position:absolute;
  left:50%;
  top:10%;
  margin-left:-66px;
  margin-top:-24px;
  z-index:20;
  pointer-events:none;
  text-align:center;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Inter;
  font-size:40px;
  line-height:49px;
}
.Stay-updated{
  position:absolute;
  left:50%;
  top:20%;
  z-index:15;
  pointer-events:none;
  margin-left:-125px;
  margin-top:-9px;
  text-align:center;
  color:rgba(61, 61, 61, 1);
  font-style:normal;
  font-family:Inter;
  font-size:15px;
  line-height:19px;
}
.Login-prompt{
  position:absolute;
  left:50%;
  z-index:21;
  pointer-events:none;
  margin-left:-196px;
  width:382px;
  height:74px;
  margin-top:-37px;
  margin-bottom:309px;
}
.Email-box{
  position:absolute;
  left:50%;
  top:35%;
  pointer-events:none;
  margin-left:-196px;
  width:382px;
  height:74px;
  margin-top:-37px;
  background-color:rgba(250, 251, 252, 1);
  border:2px solid rgba(203, 201, 209, 1);
  box-sizing:border-box;
  border-radius:15px;
}
.Password-box {
    position: absolute;
    left: 50%;
    top: 55%;
    pointer-events: none;
    margin-left: -196px;
    width: 382px;
    height: 74px;
    margin-top: -37px;
    background-color: rgba(250, 251, 252, 1);
    border: 2px solid rgba(203, 201, 209, 1);
    box-sizing: border-box;
    border-radius: 15px;
}
.Email-prompt {
    position:absolute;
    top: 50%;
    left: 0;
    z-index: 23;
    pointer-events: none;
    margin-left: 16px;
    margin-top: -14.5px;
    width: 63px;
    text-align: left;
    display: flex;
    color: rgba(146, 146, 146, 1);
    font-family: Inter;
    font-size: 24px;
    line-height: 29px;
}
.Password-prompt{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:45px;
  width:382px;
  min-width:382px;
  height:74px;
  margin-top:-289px;
  margin-bottom:215px;
  min-height:74px;
}
.Password{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:16px;
  width:114px;
  min-width:114px;
  margin-top:-49px;
  margin-bottom:20px;
  min-height:29px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(146, 146, 146, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:600;
  font-size:24px;
  line-height:29px;
}
.Forgot-password{
  position:absolute;
  left:0%;
  top:67%;
  z-index:16;
  pointer-events:none;
  margin-left:35px;
  width:208px;
  margin-top:-14.5px;
  text-align:left;
  color:rgba(75, 142, 242, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:600;
  font-size:24px;
  line-height:29px;
}
.Forgot-password--outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Sign-in-button{
  position:absolute;
  left:50%;
  top:85%;
  z-index:18;
  pointer-events:none;
  margin-left:-191px;
  width:382px;
  height:73px;
  margin-top:-36.5px;
  background-color:rgba(75, 107, 188, 1);
  filter:drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
  border:1px solid rgba(167, 167, 167, 0.51);
  box-sizing:border-box;
  border-radius:40px;
}
.Sign-in-button-text{
  position:absolute;
  left:50%;
  top:50%;
  z-index:19;
  pointer-events:none;
  margin-left:-111px;
  width:222px;
  margin-top:-17.5px;
  text-align:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:30px;
  line-height:36px;
}
.Sign-up-link{
  position:absolute;
  left:50%;
  top:100%;
  z-index:17;
  pointer-events:none;
  margin-left:-140.5px;
  width:281px;
  margin-top:24px;
  text-align:left;
  font-style:normal;
  font-family:Inter;
  font-weight:600;
  font-size:20px;
  line-height:24px;
}
.Sign-up{
  position:absolute;
  top:0%;
  left:72%;
  color:rgba(0, 32, 112, 1);
}
.New-to{
  position:absolute;
  top:0%;
  left:0%;
  width:fit-content;
  color:rgba(61, 61, 61, 1);
}
.show {
  position: absolute;
  right:0%;
  top: 50%;
  margin-top:-14.5px;
  margin-right:16px;
  width: 63px;
  height: 29px;
  color: rgba(75, 142, 242, 1);
  text-align:right;
  font-family:Inter;
  font-size:24px;
  line-height:29px;
}
