<Header class="prime-header flex">
  <div>
    <img src="assets/images/rejuvenation_tech_logo_words.png" alt="logo" class="logo">
  </div>

    <button class="mobile-nav-toggle"
    aria-controls="prime-nav" aria-expanded="flase">
    <span class="sr-only">Menu</span>
    <span class="top-line common"></span>
    <span class="middle-line common"></span>
    <span class="bottom-line common"></span>
  </button>

    <nav>
      <ul id="prime-nav" data-visible="false" class="prime-nav flex">
        <li>
          <a href="https://rejuvenationtech.com">Home</a>
        </li>
        <li>
          <a href="https://rejuvenationtech.com/Team/">About</a>
        </li>
        <li>
          <a href="{% url 'logout' %}"> <img src="assets/images/profile_icon.png" alt="Profile Icon" height="100%" width="15%"></a>
        </li>
      </nav>

  </Header>
