/*basic set up*/
/*background*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

.websiteBody{
  margin: 0;
}.Page{
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
@font-face{
  font-family: "Inter";
  src: url('assets/Font/static/Inter-SemiBold.ttf') format('truetype');
}
/*nav*/
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.logo {
  margin: 2rem;
  height: 50px;
  cursor: pointer;
}
.prime-header {
  align-items: center;
  justify-content: space-between;
}
.mobile-nav-toggle {
  display: none;
}
.prime-nav {
  padding: 0;
  list-style: none;
  margin: 0;
}
@media (min-width: 40rem) {
  .prime-nav {
    --gap: clamp(1.3rem, 4vw, 6rem);
    padding-block: 2.5rem;
    padding-inline: clamp(1rem, 5vw, 0rem)
  }
}
@media (max-width: 40em) {
  .prime-nav {
    --gap: 2.5em;
    position: fixed;
    z-index: 100099;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 0;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 9998;
  background-color: transparent;
  width: 2rem;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
  border: 0;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
}
.mobile-nav-toggle .common {
  z-index: 999999;
  position: absolute;
  height: 2px;
  width: 20px;
  border-radius: 50px;
  background-color:#2B1C50;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.mobile-nav-toggle .top-line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-nav-toggle .middle-line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-nav-toggle .bottom-line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-nav-toggle[aria-expanded="true"] .top-line {
left: 2px;
top: 14px;
width: 25px;
transform: rotate(45deg);
}
.mobile-nav-toggle[aria-expanded="true"] .middle-line {
  left: 2px;
  top: 14px;
  width: 25px;
  opacity: 0;
  transform: translateX(20px);
  }
.mobile-nav-toggle[aria-expanded="true"] .bottom-line {
left: 2px;
top: 14px;
width: 25px;
transform: rotate(-45deg);
}
.logo {
  height: 40px
}
}
.prime-nav[data-visible="true"] {
  transform: translateX(0%);
}
a {
  position: relative;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#2B1C50;
  font-weight: 600;
  font-size: 20px;
  padding: 0 10px;
}
a.active::after {
  content: "";
  position: absolute;
  background-color: #825595;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: -10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

}
a::after {
  content: "";
  position: absolute;
  background-color: #825595;
  height: 5px;
  width: 0;
  left: 0;
  bottom: -10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: 0.3s;
}
a:hover::after {
  width: 100%;
}
head {
  overflow-x: hidden;
}


/*background*/
.BG{
position:fixed;
z-index:-1;
width:100%;
height:100%;
content:url(assets/images/background.jpg)
}


/*content*/
.display{
    position:absolute;
    top:150px;
    left:50%;
    margin-left:-700px;
    width:1400px;
    height:calc(100% - 150px);
}
.Rectangle-18{
  position:absolute;
  z-index:12;
  right:0;
  top: 5%;
  width:640px;
  height:116px;
  background-color:rgba(250, 251, 252, 1);
  filter:drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.2));
  border-radius:10px;
}

.Rectangle-19{
  position:absolute;
  top:5%;
  left:0;
  z-index:12;
  width:640px;
  height:116px;
  background-color:rgba(250, 251, 252, 1);
  filter:drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.2));
  border-radius:10px;
}

.Investigator-Sign-Up{
  position:absolute;
  z-index: 13;
  left: 5%;
  top: 50%;
  margin-top:-25px;
  width:450px;
  text-align:left;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Inter;
  font-size:40px;
  line-height:49px;
  height:50px
}

.Participant-Sign-Up{
  position:absolute;
  z-index: 13;
  margin-top: -25px;
  top: 50%;
  left: 5%;
  width:450px;
  height:50px;
  text-align:left;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:40px;
  line-height:49px;
}

.Rectangle-20{
  position:absolute;
  top:30%;
  z-index:13;
  margin-left:70px;
  width:1300px;
  height:325px;
  background-color:rgba(250, 251, 252, 1);
  filter:drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.2));
  border-radius:10px;
}

.Welcome-To-Rejuvenat{
  position:absolute;
  left:50%;
  top:2%;
  margin-left:-331px;
  z-index: 14;
  width:632px;
  text-align:left;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Inter;
  font-size:40px;
  line-height:49px;
}

.Lorem-ipsum-dolor-si {
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -557px;
    z-index: 15;
    width: 1114px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
