{% extends 'base.html' %}
{% load static %}
<!-- templates/registration/login.html -->
{% block head %} <link rel="stylesheet" href="/static/css/dashboard.css"> {% endblock head %}

{% block content %}    
    <div class="navigation-adjustment">
        <img class="BG" src="{% static 'images/background.png' %}"/>
        <div class="search-bar">
            <input class="search" id="search-bar" />
            <img class="search-icon" />
        </div>
        <div class="trials-display">
            <div class="trial-box">
                <h1>Trial Name</h1>
                <h4>Lab name</h4>
                <br>
                <h5>MM/DD/YYYY - MM/DD/YYYY</h5>
                <br>
                <p>
                    Short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Est ante in nibh mauris cursus.
                </p>
                <p1>
                    Eligibility. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Est ante in nibh mauris cursus.
                </p1>
                <div class="key-term-1">
                    <p>Key Term 1</p>
                </div>
                <div class="key-term-2">
                    <p>Key Term 2</p>
                </div>
                <div class="join">
                    <p>View Trial</p>
                </div>
            </div>
            <div class="trial-box">
                <h1>Trial Name</h1>
                <h4>Lab name</h4>
                <br>
                <h5>MM/DD/YYYY - MM/DD/YYYY</h5>
                <br>
                <p>
                    Short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Est ante in nibh mauris cursus.
                </p>
                <p1>
                    Eligibility. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Est ante in nibh mauris cursus.
                </p1>
                <div class="key-term-1">
                    <p>Key Term 1</p>
                </div>
                <div class="key-term-2">
                    <p>Key Term 2</p>
                </div>
                <div class="join">
                    <p>View Trial</p>
                </div>
            </div>
            <div class="trial-box">
                <h1>Trial Name</h1>
                <h4>Lab name</h4>
                <br>
                <h5>MM/DD/YYYY - MM/DD/YYYY</h5>
                <br>
                <p>
                    Short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Est ante in nibh mauris cursus.
                </p>
                <p1>
                    Eligibility. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Est ante in nibh mauris cursus.
                </p1>
                <div class="key-term-1">
                    <p>Key Term 1</p>
                </div>
                <div class="key-term-2">
                    <p>Key Term 2</p>
                </div>
                <div class="join">
                    <p>View Trial</p>
                </div>
            </div>
        </div>
    </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% endblock %}