{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  <!-- Dashboard layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="assets/images/temp_icon.png">
  <div content="height=device-height, width=device-width, justify-content=center">
      <img class="BG" />
      <div class="search-bar">
          <input class="search" id="search-bar" />
          <img class="search-icon" />
      </div>
      <div class="trials-display">
          <div class="trial-box">
              <h1>Trial Name</h1>
              <h4>Lab name</h4>
              <p>Short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Est ante in nibh mauris cursus.</p>
              <div class="key-term-1">
                  <p>Key Term 1</p>
              </div>
              <div class="key-term-2">
                  <p>Key Term 2</p>
              </div>
          </div>
      </div>
  </div>

{% else %}
<!-- hacker way of redirecting if user is not logged in -->
  <meta http-equiv="Refresh" content="0; url='{% url 'login' %}" />
{% endif %}
{% endblock content %}
