{% extends 'base.html' %}
{% load static %}
<!-- templates/registration/login.html -->
{% block head %} <link rel="stylesheet" href="/static/css/single_trial_styles.css"> {% endblock head %}

{% block content %}
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div content="height=device-height, width=device-width, justify-content=center">
        <h1 class="company-name">Company Name</h1>
        <div class="platform">
            <h1>To-do List</h1>
            <form class="task-form">
                <div class="task">
                    <input type="checkbox" checked="" />
                    <p class="task-info">Completed task (no wrapping yet so has to be 1 line)</p>
                </div>
                <div class="task">
                    <input type="checkbox" />
                    <p>Incomplete task</p>
                </div>
            </form>
        </div>
    </div>
    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% endblock %}